.meals {
  max-width: 50rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1.2s ease-out forwards;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.loading {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
}

.loading::after {
  content: " ";
  display: block;
  margin: 1em auto;
  width: 20em;
  height: 0.6em;
  border-radius: 0.3em;
  background-image: repeating-linear-gradient(
    -45deg,
    #57b,
    #57b 10px,
    #148 10px,
    #148 20px
  );
  animation: gradient-animation 1s linear infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px 0; /* Измените значение для регулировки скорости */
  }
}

.error {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  color: #a52a2a;
}

.error::after {
  content: " ";
  display: block;
  margin: 1em auto;
  width: 2em;
  height: 2em;
  background-image: url("../../img/cross.svg");
  background-position: center;
  background-size: contain;
}
