.meals {
  max-width: 50rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1.2s ease-out forwards;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.loading {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
}

.error {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  color: brown;
}
